.inputField {
  max-width: max-content;
  display: grid;
  grid-row-gap: 0.75rem;
}

.inputField__label {
  display: grid;
  grid-row-gap: 0.25rem;
}

.inputField__input {
  max-width: 32ch;
  border-radius: 0.125rem;
  box-shadow: 0 2px 6px hsla(220, 20%, 40%, 0.3);
  padding: 0.5rem;
  background-color: #fff;
}

.inputField__input:focus {
  outline: 0;
  box-shadow: 0 2px 6px hsla(220, 20%, 40%, 0.3),
    0 6px 14px hsla(220, 20%, 50%, 0.2);
}

.inputField__validation {
  color: firebrick;
}
